# Base (mandatory)
OPENAI_API_KEY=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
DATABASE_URL=postgresql://admin:password@pgdb:5432/superagent
DATABASE_MIGRATION_URL=postgresql://admin:password@pgdb:5432/superagent
DATABASE_SHADOW_URL= # Mandatory for Neon DB
JWT_SECRET=charles
# Memory (mandatory)
MEMORY_API_URL=http://motorhead:8081
# Vectorstores (mandatory if you plan on loading datasources)
# Pinecone vars
PINECONE_ENVIRONMENT=
PINECONE_API_KEY=
PINECONE_INDEX=
# Astra vars
ASTRA_DB_ID=17d36ab4-a965-47d8-8492-ff53a145b393
ASTRA_DB_REGION=us-east1
ASTRA_DB_APPLICATION_TOKEN=AstraCS:SiJnfhJbRuEinDBQrcWFHDfG:a9ed17107064b490a07dd395b71f6c8c8e91e94d7592efc7b47562846aec331f
COLLECTION_NAME=
KEYSPACE_NAME=db1
# E2B (code execution)
E2B_API_KEY=e2b_21b611cdf96fad06a6a819708734be20cfe8b777
# Replicate LLM/tool
REPLICATE_API_TOKEN=
# Langsmith tracing
LANGCHAIN_TRACING_V2=False
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGSMITH_PROJECT_ID=
# Finetunes
LAMINI_API_KEY=
# Tracking
SEGMENT_WRITE_KEY=
